body
{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color:#f1e6d4;
}
.primary
{
    max-width: 35em;
    margin-left:auto;
    margin-right:auto;
  
}
.primary-item
{
    max-width: 60%;
    margin: auto;
    border-bottom: 0.1em solid rgb(183, 183, 183);
}
.primary-picture
{
    width:0;
    height:0;
    margin-bottom:0em;
}
.meme1
{
    max-width:80%;
    margin-left:15%;
    margin-top:0.3em;
}

/*meme name*/
.primary-title
{
    display:block;
    padding:1em, 1.5em;
    cursor: pointer;
    position: relative;
    margin-top:1.5em;
    transition: background 1.2s 
   ease-out;
}

.primary-title:hover
{
background-color: #F97F51
}
h2
{
    max-width: 60%;
    margin: auto;
}
/*button*/
.primary-input
{
    width:0;
    height:0;
    appearance: none;
}

/*checking for clicking a button*/
.primary-input:checked~.primary-picture
{
    transition:1.2s;
    width: 100%;
    height:100%;
}

.primary-input:checked~.primary-title
{
    background-color:#a39274;
}
/*
.primary-title:after
{
content:"";
display:block;
top:50%;
right:15px;
transform: translateY(-50%);
border-style: solid;
border-width: 10px 5px 0 5px;
border-color: black transparent transparent transparent
}
.primary-input:checked~.primary-title:after
{
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent black transparent;
}*/
